<br/>
<br/>
<br/>
<br/>
<br/>
<div class="mat-elevation-z8">

  <mat-table [dataSource]="listData" matSort>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.title}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="completionStatus">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.completionStatus}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="targetDate" >
      <mat-header-cell *matHeaderCellDef mat-sort-header>Target Date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.targetDate}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">

        <button mat-icon-button>
          <mat-icon>launch</mat-icon>
        </button>
        <button mat-icon-button color="warn">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container> 
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No Data
      </mat-footer-cell>
    </ng-container> 
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(listData!=null && listData.data.length==0)}"></mat-footer-row>
  </mat-table>
  <mat-paginator  [pageSizeOptions]="[5, 10, 25, 100 ]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>